---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - kfdef.yaml
  - https://raw.githubusercontent.com/$GH_USERNAME/helm-charts/$BRANCH/charts/meteor-pipelines/templates/byon-validate-jupyterhub-image.yaml
  - https://raw.githubusercontent.com/$GH_USERNAME/helm-charts/$BRANCH/charts/meteor-pipelines/templates/byon-import-jupyterhub-image.yaml
